html {
    text-align: center;
}
#calculator {
    display: flex;    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
}
#container {
    position: relative;
    background-color: darkolivegreen;
    border: 10px solid darkolivegreen;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}
#display {
    grid-column: 1 / -1;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
    font-weight: initial;
    margin: 5px;
}
button{
    margin: 1px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: initial;
    color: black;
}
#zero {
    grid-column: span 2;
}